.box-info h1{
    font-size: 6rem;
}

.box-info{
    display: flex;
    justify-content: center;
    color: azure;
    font-size: 2rem;
    /* align-items: center; */
}

.box-info .country-location h3{
    font-family:monospace;
}



@media screen and (max-width: 480px) {
    .box-info .weather-icon img{
        height: 80px;
        width: 80px
    }

    .box-info h1{
        font-size: 4rem;
    }

    .box-info{
        display: flex;
        justify-content: center;
        /* align-items: center; */
    }
  }